<div class="w-full flex flex-col">
    <div class="px-gutter pt-6 pb-20 bg-primary flex-none">
        <div class="flex items-center justify-between" vexContainer>
            <h2 class="headline text-primary-contrast m-0 flex items-center w-full max-w-xxxl mr-6">
                <ic-icon @scaleIn [icon]="component.icCategory" 
                class="hidden sm:block"></ic-icon>
                <span @fadeInRight class="ml-4 block">Category Management</span>
            </h2>
        </div>
    </div>
    <div class="mt-14 pt-0 overflow-hidden flex" vexContainer>
        <mat-drawer-container class="bg-transparent flex-auto flex">

        </mat-drawer-container>

    </div>
</div>
