.rounded-dropdown {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}


.button-arrow{
    min-width: 35px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    min-height: 37px !important;
    border-left: .02px gray solid !important;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%) !important;

}

.top-center {
    padding-top: 10px !important;
}