<?xml version="1.0" encoding="UTF-8"?>
<configuration>
<system.webServer>
  <rewrite>
    <rules>
      <rule name="Angular Routes" stopProcessing="true">
        <match url=".*" />
        <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
        </conditions>
        <action type="Rewrite" url="/index.html" />
      </rule>
    </rules>
  </rewrite>
        <httpProtocol>
            <customHeaders>
                <remove name="Content-Security-Policy" />
                <add 
                  name="Content-Security-Policy"
                  value="style-src 'unsafe-inline' 'self' https://fonts.googleapis.com https://fonts.gstatic.com; frame-src 'self' data:; style-src-elem 'unsafe-inline' 'self' https://fonts.googleapis.com https://fonts.gstatic.com; default-src 'unsafe-inline' 'self'; script-src 'unsafe-inline' 'self'; script-src-elem 'unsafe-inline' 'self'; font-src 'self' https://fonts.gstatic.com; connect-src 'self' login.microsoftonline.com uat-petedefweb-api.chubblatinamerica.com cbaadb2c08sit.b2clogin.com;" />
            </customHeaders>
        </httpProtocol>
</system.webServer>
</configuration>